<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gomuku"
        tools:targetApi="31">
        <activity
            android:name=".screens.authors.AuthorsScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Gomuku" />
        <activity
            android:name=".screens.gameScreeens.remoteGame.RemoteGameActivity"
            android:exported="false"
            android:label="@string/title_activity_remote_play"
            android:theme="@style/Theme.Gomuku" />
        <activity
            android:name=".screens.gameScreeens.gatherInfo.GameOptionsActivity"
            android:exported="false"
            android:label= "@string/title_activity_gameOptions"
            android:theme="@style/Theme.Gomuku"/>
        <activity android:name=".screens.gameScreeens.localGame.LocalGameActivity"
            android:exported="false"
            android:label= "@string/quick"
            android:theme="@style/Theme.Gomuku"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Gomuku">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>